<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false"/>
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
