.table-action {
    white-space: nowrap;
    width: 1px;
}

.form-button {
    display: inline-block;
}

.tag-link {
    border-bottom: #3c8dbc 1px dotted;
    margin: 0 5px;
}

/*
 * Images index: Drop zone
 */

.images-empty{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 3px dashed #999999;
    padding: 30px 0;
    color: #999999;
    text-align: center;
    font-size: 2em;
}

.dz-default{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: none;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:5;
    margin: 10px;
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
    color: hsl(198,97%,65%);
    border: 3px dashed hsl(198,97%,65%);
    background-color: hsla(198,97%,65%,.3);
    align-items: center;
    justify-content: center;
}

.dz-progress{
    margin: 0;
}

#images-list{
    position: relative;
}

#modal-delete-item-img{
    background: #fff;
    border: 5px solid #eee;
    outline: 1px solid #555;
}

.image-item, .image-item img, .image-item picture {
    user-drag: none;
    -webkit-user-drag: none;
}

/*
 * Links: Index
 */

.admin-link-divider {
    padding: 5px 10px;
    background-color: #485A70;
    color: #fff;
}

.admin-link-divider-name {
    font-weight: bold;
    font-size: 1.2em;
}

.admin-link-item {
    padding: 10px 10px;
    display: flex;
}

.admin-link-item-info {
    flex-grow: 1;
}

.admin-link-item-favicon {
    padding-right: 5px;
}

.admin-link-item-name {
    font-weight: bold;
    font-size: 1.1em;
}

span.admin-link-item-url.text-muted {
    font-style: italic;
}

.admin-link-entry button {
    margin-left: 5px;
}

.inline-edit {
    background: none;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #eeeeee;
}