@charset "UTF-8";
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", "SFNS Display", "Myriad Pro", "Segoe UI", Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: #3a3a3a; }
  .state-lg html, .state-lg body {
    font-size: 14pt; }
  @media screen and (min-width: 769px) {
    html, body {
      font-size: 14pt; } }

.frame {
  height: 100%; }

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .state-md .container {
    width: 100%; }
  @media screen and (min-width: 481px) {
    .container {
      width: 100%; } }
  .state-lg .container {
    width: 750px; }
  @media screen and (min-width: 769px) {
    .container {
      width: 750px; } }
  .state-xl .container {
    width: 960px; }
  @media screen and (min-width: 1025px) {
    .container {
      width: 960px; } }

.row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: -10px;
  margin-right: -10px; }
  .frame-left-black:after {
    content: "";
    display: table;
    clear: both; }

  .row:before, .row:after {
    content: "";
    display: table; }
  .row:after {
    clear: both; }
  .row {
    zoom: 1; }

  @media screen and (min-width: 301px) {
    .frame-left-black .normal-section .section-content, .frame-left-black .title-section .section-title, .frame-left-black .title-section .section-content {
      display: inline-block;
      min-height: 1px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: top;
      padding-right: 10px;
      padding-left: 10px; } }
  .state-sm .frame-left-black .normal-section .section-content, .state-sm .frame-left-black .title-section .section-title, .state-sm .frame-left-black .title-section .section-content {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; }
  @media screen and (min-width: 481px) {
    .frame-left-black .normal-section .section-content, .frame-left-black .title-section .section-title, .frame-left-black .title-section .section-content {
      display: inline-block;
      min-height: 1px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      vertical-align: top;
      padding-right: 10px;
      padding-left: 10px; } }
  .state-md .frame-left-black .normal-section .section-content, .state-md .frame-left-black .title-section .section-title, .state-md .frame-left-black .title-section .section-content {
    display: inline-block;
    min-height: 1px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px; }
  @media screen and (min-width: 481px) {
    .frame-left-black .normal-section .section-content {
      position: relative; } }
  .state-md .frame-left-black .normal-section .section-content {
    position: relative; }
  [class*="no-gutter"] > .row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .state-default .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  .state-xs .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  @media screen and (max-width: 300px) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }
  .state-sm .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  @media screen and (min-width: 301px) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }
  .state-md .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  @media screen and (min-width: 481px) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }
  .state-lg .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  @media screen and (min-width: 769px) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }
  .state-xl .row .row {
    margin-left: -10px;
    margin-right: -10px; }
  @media screen and (min-width: 1025px) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }
  .state-md .row {
    display: flex;
    align-items: stretch; }
  @media screen and (min-width: 481px) {
    .row {
      display: flex;
      align-items: stretch; } }

.state-md .frame-left-black {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,ffffff+51,ffffff+100 */
  background: #333333;
  /* Old browsers */
  background: -moz-linear-gradient(left, #333333 0%, #333333 50%, #fff 50.01%, #fff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #333333 0%, #333333 50%, #fff 50.01%, #fff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #333333 0%, #333333 50%, #fff 50.01%, #fff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
  /* IE6-9 */ }
  .state-md .frame-left-black .last-section {
    flex-grow: 1; }
  .state-md .frame-left-black .first-section {
    flex-basis: 2em; }
@media screen and (min-width: 481px) {
  .frame-left-black {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,ffffff+51,ffffff+100 */
    background: #333333;
    /* Old browsers */
    background: -moz-linear-gradient(left, #333333 0%, #333333 50%, #fff 50.01%, #fff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #333333 0%, #333333 50%, #fff 50.01%, #fff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #333333 0%, #333333 50%, #fff 50.01%, #fff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=1 );
    /* IE6-9 */ }
    .frame-left-black .last-section {
      flex-grow: 1; }
    .frame-left-black .first-section {
      flex-basis: 2em; } }
.frame-left-black .section-title {
  background-color: #333333;
  color: #fff; }
  .frame-left-black .section-title h2 {
    font-size: 1em;
    margin: 0;
    font-weight: normal; }
.frame-left-black .section-content {
  background: #fff; }
.state-sm .frame-left-black .normal-section .section-content {
  width: 100%; }
@media screen and (min-width: 301px) {
  .frame-left-black .normal-section .section-content {
    width: 100%; } }
.state-md .frame-left-black .normal-section .section-content {
  width: 83.33333%;
  padding-top: 1.5em;
  padding-right: 2em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  left: 16.66667%;
  right: auto; }
@media screen and (min-width: 481px) {
  .frame-left-black .normal-section .section-content {
    width: 83.33333%;
    padding-top: 1.5em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    padding-left: 2em;
    left: 16.66667%;
    right: auto; } }
.state-sm .frame-left-black .title-section .section-title {
  width: 100%; }
.state-sm .frame-left-black .title-section .section-content {
  width: 100%; }
@media screen and (min-width: 301px) {
  .frame-left-black .title-section .section-title {
    width: 100%; }
  .frame-left-black .title-section .section-content {
    width: 100%; } }
.state-md .frame-left-black .title-section .section-title {
  padding-top: 1.5em;
  padding-right: 10px;
  padding-bottom: 1.5em;
  padding-left: 10px;
  width: 16.66667%; }
.state-md .frame-left-black .title-section .section-content {
  width: 83.33333%;
  padding-top: 1.5em;
  padding-right: 2em;
  padding-bottom: 1.5em;
  padding-left: 2em; }
@media screen and (min-width: 481px) {
  .frame-left-black .title-section .section-title {
    padding-top: 1.5em;
    padding-right: 10px;
    padding-bottom: 1.5em;
    padding-left: 10px;
    width: 16.66667%; }
  .frame-left-black .title-section .section-content {
    width: 83.33333%;
    padding-top: 1.5em;
    padding-right: 2em;
    padding-bottom: 1.5em;
    padding-left: 2em; } }
.frame-left-black .home-section-entry a {
  font-weight: bold;
  color: #3a3a3a;
  text-decoration: none; }
  .frame-left-black .home-section-entry a:hover {
    text-decoration: underline; }
.frame-left-black .home-section-entry .entry-desc {
  font-style: italic; }

.logo-long img {
  max-height: 2em; }

.title-nav ul {
  font-size: .9em;
  margin: 1em 0 0 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  list-style-type: none; }
  .title-nav ul li {
    display: inline-block;
    text-transform: uppercase; }
    .title-nav ul li a:link {
      color: #3a3a3a;
      text-decoration: none; }
    .title-nav ul li a:hover {
      text-decoration: underline; }
    .title-nav ul li:after {
      content: "·";
      padding: 0 1em; }
    .title-nav ul li:last-child:after {
      content: '';
      padding: 0; }

.home-slogan {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 5em;
  padding-top: .2em; }

/*# sourceMappingURL=app.css.map */
